<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_about.css') }}">
</head>
<body>

<h2>Про проект</h2>
<div class="text"><p>The Neighbourhood (іноді використовується абревіатура «THE NBHD») — американський інді-рок гурт,
    заснований у серпні 2011 року. Гурт складається з вокаліста Джессі Резерфорда, гітаристів Джеремі Фрідмена і Зака
    Ебелса, басиста Майкі Маргот і барабанщика Брендона Фріда. Після випуску двох EP: I'm Sorry… і Thank You, 23 квітня
    2013 року The Neighbourhood випустили студійний альбом під назвою «I Love You». 16 січня 2014 в соціальних мережах
    повідомили, що Браян Самміс покинув гурт.</p>
</div>

</body>
</html>