<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_about.css') }}">
</head>
<body>
<h2>Історія</h2>
<div class="text"><p>На початку 2012 року The Neighbourhood зібралися разом, щоб випустити «Female Robbery» і «Sweater
    Weather». У травні 2012 року гурт представив безкоштовний міні-альбом під назвою I'm Sorry… Дебютний альбом
    спродюсував Джастін Пілбрау.

    I Love You був випущений 23 квітня 2013 року і дебютував на 39 місці в чарті альбомів Billboard 200. 27 червня 2013
    гурт виконав свій сингл «Sweater Weather» на шоу Jimmy Kimmel Live!.

    «Sweater Weather» очолила чарти на початку червня 2013 року, досягнувши 1-го місця в чарті Alternative Songs і
    вирвавшись у першу десятку чарту Billboard Top Heatseekers.

    Кліп для першого офіційного синглу з I Love You, «Sweater Weather», було презентовано 5 березня 2013 року. Потім
    вийшов новий міні-альбом The Love Collection, який складався із 3 пісень: «West Coast», «No Grey» и «$TING». Кожна з
    них була випущена на вінілі.</p>
</div>
</body>
</html>